<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="숙제1.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .return {
            position: fixed;
            top: 50%;
            right: 0;
            width: 120px;
            height: 40px;
        }

        #app {
            text-align: center;
        }
    </style>
</head>

<body>
    <button class="return"><a href="/solution">돌아가기</a></button>
    <div id="app">
        <h1>카운트 웹사이트</h1>
        <h2 id="카운트">0</h2>
        <button onClick="더하기()">+1</button>
        <button onClick="빼기()">-1</button>
    </div>
    <script>
        const 카운트 = document.getElementById("카운트");
        let 숫자 = 0;
        function 더하기() {
            숫자++;
            카운트.innerText = 숫자;
        }
        function 빼기() {
            숫자--;
            if (숫자 < 0) {
                숫자++;
                alert("음수가 될 수 없습니다.");
            }
            else {
                카운트.innerText = 숫자;
            }
        }
    </script>
</body>

</html>